flows.json
[
    {
        "id": "379e9d67.d1c892",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7fa98934.0eb678",
        "type": "http request",
        "z": "379e9d67.d1c892",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 430,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "a79a99bc.b84478",
        "type": "inject",
        "z": "379e9d67.d1c892",
        "name": "",
        "topic": "",
        "payload": "set temp",
        "payloadType": "str",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 80,
        "y": 40,
        "wires": [
            [
                "b2d9fa24.44e548"
            ]
        ]
    },
    {
        "id": "b2d9fa24.44e548",
        "type": "function",
        "z": "379e9d67.d1c892",
        "name": "",
        "func": "var count = context.get('count')||0;\ncount++;\ncontext.set('count',count);\nif (count <= 20) {msg.payload = \"t|20\";}\nelse if (count <= 50) {msg.payload = \"t|\" + count;}\nelse {msg.payload = \"t|\" + Math.floor(Math.random()*(90-30)+30);}\nmsg.url = \"http://172.17.0.8:7896/iot/d?k=4jggokgpepnvsb2uv4s40d59ov&i=IoT-R\" + Math.floor(Math.random()*(6-1)+1);\nmsg.headers = {};\nmsg.headers['Fiware-Service'] = 'cepware';\nmsg.headers['Fiware-ServicePath'] = '/rooms';\nmsg.headers['Content-Type'] = 'text/plain';\nnode.warn(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 40,
        "wires": [
            [
                "7fa98934.0eb678"
            ]
        ]
    }
]